<div class="flex flex-col lg:flex-row items-center lg:items-start justify-center gap-6 lg:gap-12 mt-10">
    <!-- Imagen -->
    <div class="flex-shrink-0">
      <img src="chae.jpg" class="w-full max-w-sm rounded-lg" alt="Imagen de Fran">
    </div>
    
    <!-- Texto -->
    <div class="flex flex-col max-w-lg text-center lg:text-left">
      <h2 class="text-5xl font-extrabold dark:text-white">Fran</h2>
      <p class="my-4 text-lg text-gray-500">Comunicólogo</p>
      <p class="mb-4 text-lg font-normal text-gray-500 dark:text-gray-400">
        Deliver great service experiences fast - without the complexity of traditional ITSM solutions. Accelerate critical development work, eliminate toil, and deploy changes with ease.
      </p>
      <h5 class="text-3xl font-extrabold dark:text-white">Contáctame</h5>
      <!-- Íconos de contacto -->
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-2">
        <div class="flex items-center space-x-3 justify-start">
          <img src="https://img.icons8.com/ios/50/gmail-new.png" alt="Correo Icon" class="h-8 w-8">
          <p class="text-lg font-medium text-gray-700 dark:text-gray-300 flex items-center mt-3">Correo electronico</p>
        </div>
        <div class="flex items-center space-x-3 justify-start">
          <img src="https://img.icons8.com/ios/50/phone--v1.png" alt="Teléfono Icon" class="h-8 w-8 object-contain">
          <p class="text-lg font-medium text-gray-700 dark:text-gray-300 flex items-center mt-3">637363736</p>
        </div>
        
        
        <a href="https://www.facebook.com" target="_blank" class="flex items-center space-x-3 justify-start">
          <img src="fb.png" alt="Facebook Icon" class="h-8 w-8">
          <p class="text-lg font-medium text-gray-700 dark:text-gray-300 flex items-center mt-3">Facebook o algo</p>
        </a>
        
        <div class="flex items-center space-x-3 justify-start">
            <img src="https://img.icons8.com/ios/50/instagram.png" alt="Instagram Icon" class="h-8 w-8">
            <p class="text-lg font-medium text-gray-700 dark:text-gray-300 flex items-center mt-3">Instagram</p>
          </div>
          
      </div>
    </div>
  </div>


  <div id="carouselExample" class="carousel slide mt-5" data-bs-ride="carousel"style="width: 50%; height: auto; margin: 0 auto;">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <!-- Item 1 -->
      <div class="carousel-item active">
        <img src="itzy2.jpg" class="d-block w-100 mx-auto" alt="Chaery">
        <div class="carousel-caption d-none d-md-block">
          <h5>Chaery</h5>
          <p>Descripción de la imagen 1.</p>
        </div>
      </div>
      <!-- Item 2 -->
      <div class="carousel-item">
        <img src="itzy.jpg" class="d-block w-100 mx-auto" alt="Itzy">
        <div class="carousel-caption d-none d-md-block">
          <h5>Itzy</h5>
          <p>Descripción de la imagen 2.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="itzy.jpg" class="d-block w-100 mx-auto" alt="Itzy">
        <div class="carousel-caption d-none d-md-block">
          <h5>Itzy</h5>
          <p>Descripción de la imagen 2.</p>
        </div>
      </div>
    </div>
    
    <!-- Carousel controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <img src="prev.svg" alt="Previous" class="carousel-control-prev-icon">
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <img src="next.svg" alt="Next" class="carousel-control-next-icon">
    </button>
  </div>
  
  
  
  
  






  <div class="flex justify-center items-center mt-20">
    <h2 class="text-5xl font-extrabold dark:text-white ">Mis habiliades</h2>
  </div>
 
  <div class="flex flex-col lg:flex-row items-center lg:items-start justify-center gap-6 lg:gap-12 mt-20">

<div class="grid grid-cols-4 grid-rows-12 gap-7">
  <div data-aos="zoom-out-right">
  <div class="col-span-2 row-span-2 flex items-center space-x-4">
    <img
      width="100"
      height="100"
      src="https://img.icons8.com/ios-filled/100/collaboration.png"
      alt="collaboration"
    />
    <p class="text-lg font-medium text-gray-700 dark:text-gray-300 flex items-center mt-3">
      637363736
    </p>
  </div>
</div>


  <div class="col-span-2 row-span-2 col-start-3 row-start-3">
    <div data-aos="zoom-out-left">
    <div class="col-span-2 row-span-2 flex items-center space-x-4">
      <p class="text-lg font-medium text-gray-700 dark:text-gray-300 flex items-center mt-3">
        637363736
      </p>
      <img
        width="100"
        height="100"
        src="https://img.icons8.com/ios-filled/100/collaboration.png"
        alt="collaboration"
      />
    </div>
  </div>
    
  </div>
  <div class="col-span-2 row-span-2 row-start-5">
    <div data-aos="zoom-out-right">
    3

  </div>
  </div>
  <div class="col-span-2 row-span-2 col-start-3 row-start-7">
    <div data-aos="zoom-out-left">
    4
  </div>
  </div>
  <div class="col-span-2 row-span-2 row-start-9">
    <div data-aos="zoom-out-right">
    7
  </div>
  </div>
  <div class="col-span-2 row-span-2 col-start-3 row-start-11">

    <div data-aos="zoom-out-left">
      8
    </div>
  </div>
</div>
</div>
  


  
 


